<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equinox - </title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">
    <div class="cta">
       <img src="/img/Earth-orbit-Sun.webp" alt="">
       <div class="text">
          <h2>Equinox</h2>
          <p>equinox, either of the two moments in the year when the Sun is exactly above the Equator and day and night are of equal length; also, either of the two points in the sky where the ecliptic (the Sun’s annual pathway) and the celestial equator intersect. <a class = "link" href="/spring-equinox">Continue</a></p>
       </div>
    </div>

    <div class="cta">
       <img src="https://images.pexels.com/photos/705425/pexels-photo-705425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
       <div class="text">
          <h2>The Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus temporibus voluptates exercitationem, ipsa officiis a animi esse explicabo repudiandae in, blanditiis cum quam magni? Voluptates illum earum praesentium veniam.</p>
       </div>
    </div>
    
    <div class="cta">
       <img src="https://images.pexels.com/photos/705425/pexels-photo-705425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
       <div class="text">
          <h2>The Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus temporibus voluptates exercitationem, ipsa officiis a animi esse explicabo repudiandae in, blanditiis cum quam magni? Voluptates illum earum praesentium veniam.</p>
       </div>
    </div>
 </div>
</body>
</html>